.App {
  text-align: center;
  background-color: #282c34;
}

.Header {
  display: flex;
  height: 60px;
  justify-content: center;
  color: white;
  align-items: center;
}

.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Selector {
  border: 2px solid white;
  border-radius: 5px;
}

.Landing {
  color: white;
  width: 100vw;
  font-size: calc(10px + 2vmin);
}

.Battler {
  width: 45vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.Versus {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Splitter {
  display: flex;
}

.Button {
  width: 100px;
  height: 50px;
  background-color: teal;
  border-radius: 1rem;
  font-weight: 700;
  border: none;
  color: white;
  outline: none;
}
